/*
Just CSS for the different tags of the component.
Since the project is so small we rather keep 
it simple by just including the relevant 
parts in this component css file.
*/

.input {
    display: flex;
    width: 90%;
    position: relative;
    align-items: center;
}

/*
box-shadow works as follows: First value is the shadow in the x-direction.
That means, -5px will give the element some shadow to the LEFT,
as in negative x-direction, as if someone pointed a flashlogt from the right. 
5px will do the opposite. Second value is y-direction, positive value gives shadow under
the element, as in positive y-direction (and vice versa).
Last valuen is an overall shadow around the element, gives a feeling 
of elevation to it. After those three, you specify color. Default is no color.
*/

.input_box {
    width: 100%;
    border-radius: 40px;
    padding: 30px;
    font-size: 25px;
    border: none;
    transition: 0.3s;
    box-shadow: inset 0 0 5px black;
}

.input_box:focus {
    box-shadow: 0 0 10px 100vh rgba(0, 0, 0, .5);
    outline: none;
}

.input_submit {
    position: absolute;
    width: 50px;
    height: 50px;
    margin: 15px;
    border-radius: 50px;
    right: 0px;
    border: none;
    font-size: 15px;
    background-color: #de76d1;
    color: white;
    transition: 0.3s all;
    box-shadow: 0 0 10px black;
}

.input_submit:hover {
    background-color: #ffb6d1;
}

.input_submit:active {
    transform: scale(1.4);
    box-shadow: 0 0 5px black;
}

.tasklist {
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    flex-wrap: wrap;
}

.task__single {
    display: flex;
    width: 29.5%;
    border-radius: 5px;
    padding: 20px;
    margin-top: 15px;
    background-color: #ffb3f5;
}

.task__single--text {
    flex: 1;
    padding: 5px;
    border: none;
    font-size: 20px;
}

.task__single--text:focus {
    outline: none;
}

.icon {
    margin-left: 10px;
    font-size: 25px;
    cursor: pointer;
}

@media (max-width: 1200px) {
    .task__single{
        width: 40%;
    }
}

@media (max-width: 700px) {
    .input {
        width: 95%;
    }
    .tasklist {
        width: 95%;
    }
    .task__single {
        width: 100%;
    }
}
